.win {
  padding: 0;
  gap: 0;
  width: 1272px;
  height: 636px;
  display: grid;
  grid-template-columns: 240px auto 380px;
}

.catList {
  padding: 12px;
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--border);
}

.flexCol {
  gap: 8px;
}

.actionBtns {
  justify-content: space-between;
}

.prodListContainer {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-right: solid 1px var(--border);
  overflow: hidden;
}

.prodList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}

.prodItem {
  margin: 0 12px;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 100px;
  align-items: center;
  box-shadow: none;
  background-color: var(--bg2);
}

.gridMode {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gridMode .prodItem {
  margin: 0;
  width: 182px;
  min-height: 182px;
  border: solid 2px var(--bg2);
  grid-template-columns: auto;
  grid-template-rows: auto min-content;
  justify-content: center;
  text-align: center;
}

.prodItem:hover {
  background-color: var(--bg2);
}

.list {
  overflow-y: auto;
}

.mb12 {
  margin-bottom: 12px;
}

.orderListContainer {
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.orderList {
  height: 501px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.listedProd {
  padding: 0 6px;
  background-color: var(--primary2);
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto 30px min-content;
  align-items: center;
  gap: 4px;
}

.listedProd .flex {
  gap: 0;
}
