<div class="createBtnContainer">
  <app-top-bar [title]="'Users'">
    <input type="text" placeholder="Search" (input)="updateSearchValue($event)">
    <div class="flex">
      <app-button (click)="demoRestrictionMessage()" [label]="'Add user'" [icon]="'person_add'" [accent]="true" />
      @if (selectedUsers.size) {
      <app-button (click)="demoRestrictionMessage()" [label]="'Delete ' + selectedUsers.size + ' users'"
        [icon]="'person_remove'" [accent]="true" />
      <app-button (click)="demoRestrictionMessage()" [label]="'Set as admin'" [icon]="'manage_accounts'"
        [accent]="true" />
      <app-button (click)="demoRestrictionMessage()" [label]="'Set as waiter'" [icon]="'manage_accounts'"
        [accent]="true" />
      }
    </div>
  </app-top-bar>
  <div class="cont">

    <div class="catCard win wfull border">
      <div class="row titleRow">
        <span>Name</span>
        <span>Date Employed</span>
        <span>Status</span>
        <span>Role</span>
        <div></div>
        <app-button [showLabel]="false"
          [icon]="this.users.length === this.selectedUsers.size? 'check_box' : 'check_box_outline_blank'"
          (click)="toggleSelectAll()" />
      </div>
      @if (isLoading) {
      <app-loader />
      } @else {
      @for (user of users; track $index) {
      @if (user.name.toLocaleLowerCase().includes(searchValue.toLocaleLowerCase())) {
      <div class="itemRow" [ngClass]="isSelected(user.id)? 'selected' : ''">
        <span>{{ user.name }}</span>
        <span>12/03/2023</span>
        <span>Active</span>
        <span class="badge" [ngClass]="user.role === 'admin'? 'bgViolet' : 'bgGreen'">{{ user.role | titlecase }}</span>
        <app-button [showLabel]="false" [icon]="'more_vert'" [style]="'noShadow'" />

        <app-button [showLabel]="false" [icon]="isSelected(user.id) ? 'check_box' : 'check_box_outline_blank'"
          (click)="toggleUserSelection(user.id)" [style]="'noShadow'" />
      </div>
      }
      }
      }
      <div>
      </div>
    </div>

  </div>
</div>
