nav {
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-right: solid 1px var(--border);
  background-color: var(--bg1);
}

.btnList {
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.appTitle {
  margin-bottom: 42px;
}

h1 {
  background: linear-gradient(to right, var(--primary), var(--murray));
  background-clip: text;
  color: transparent;
}
