.shiftContainer {
  padding: 24px;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.smCard {
  width: 380px;
  height: 550px;
}

.tableData {
  justify-content: space-between;
}

.tableData .badge {
  border-radius: 4px;
  padding: 6px;
}

h1 {
  background: linear-gradient(to right, var(--primary), var(--murray));
  background-clip: text;
  color: transparent;
}

.ctrlBtns {
  justify-content: space-between;
}
