.createBtnContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cont {
  padding: 24px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: grid;
  grid-template-columns: minmax(200px, auto) minmax(200px, auto) 100px 100px 40px min-content;
  align-items: center;
  gap: 12px;
}

.titleRow span {
  font-weight: bold;
}

.win {
  padding: 24px;
}
