<div class="createBtnContainer">
  <app-top-bar [title]="'Users'">
    <input type="text" placeholder="Search">
    <div class="createBtnContainer flex">
      <app-button [label]="'Add user'" [icon]="'add'" [accent]="true" />
    </div>
  </app-top-bar>
  <div class="cont">

    <div class="catCard win wfull">
      <div class="row titleRow">
        <span>Name</span>
        <span>Date Employed</span>
        <span>Status</span>
        <span>Role</span>
        <div></div>
        <app-button [showLabel]="false" [icon]="this.users.length === this.selectedUsers.size? 'check_box' : 'check_box_outline_blank'" (click)="toggleSelectAll()" />
      </div>
      @for (user of users; track $index) {
      <div class="row">
        <span>{{ user.name}}</span>
        <span>12/03/2023</span>
        <span>Active</span>
        <span class="badge" [ngClass]="user.role === 'admin'? 'bgMain' : 'bgGreen'">{{ user.role | titlecase }}</span>
        <app-button [showLabel]="false" [icon]="'more_vert'" />

        <app-button [showLabel]="false" [icon]="isSelected(user.id) ? 'check_box' : 'check_box_outline_blank'"
          (click)="toggleUserSelection(user.id)" />
      </div>
      }
      <div>
      </div>
    </div>

  </div>
</div>
