.primary {
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary2);
}

.secondary {
  background-color: var(--bg2);
}

.secondary:hover {
  background-color: var(--bg1);
}

.danger {
  background-color: var(--danger);
}

.danger:hover {
  background-color: var(--danger);
}

.warning {
  background-color: var(--warning);
}

.warning:hover {
  background-color: var(--warning);
}

.succes {
  background-color: var(--succes);
}

.succes:hover {
  background-color: var(--succes);
}

.notNum {
  height: 22px;
  width: 22px;
  position: absolute;
  right: -14px;
  top: -14px;
  border-radius: 99px;
  background-color: var(--danger);
  font-size: 1.5rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 120px;
  height: 120px;
  flex-direction: column;
  border: solid 1px var(--border);
}

.square i {
  font-size: 3rem;
  margin: auto;
}

.square span {
  font-size: 1.8rem;
  text-wrap: wrap;
}

.accent {
  background-color: var(--primary);
  border-style: none;
}

.accent:hover {
  background-color: var(--primary);
}

.active {
  background-color: var(--bg3);
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
}

.border {
  border: solid 1px var(--border);
}

.justIcon {
  padding: 8px;
}

.labelCenter span {
  width: 100%;
  text-align: center;
}

button {
  overflow: hidden;
}
