.pageCont {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 24px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.win {
  width: 100%;
}

.gridLayout {
  display: grid;
  gap: 12px;
  grid-template-columns: minmax(320px, 100%) minmax(320px, 100%) minmax(320px, 100%) minmax(320px, 100%);
}

.tabWin {
  grid-column: 2 span;
}

h3 {
  margin-right: auto;
}
