<div class="pageCont">
  <div class="wfull topBar">
    <h2>Products</h2>
    <div class="flex">
      <input type="text" placeholder="Search">
      <app-dropdown [label]="'Filter'" [icon]="'tune'">
        <app-button [label]="'Empty categories'" [icon]="'check_box_outline_blank'" [style]="'wfull'" />
        <app-button [label]="'Disabled categories'" [icon]="'check_box_outline_blank'" [style]="'wfull'" />
        <app-button [label]="'Disabled products'" [icon]="'check_box_outline_blank'" [style]="'wfull'" />
      </app-dropdown>
      <div class="createBtnContainer flex">
        <app-button [label]="'Create Product'" [icon]="'add'" [accent]="true" (click)="demoRestrictionMessage()" />
        <app-button [label]="'Create Category'" [icon]="'add'" [accent]="true" (click)="demoRestrictionMessage()" />
      </div>
    </div>
  </div>
  @if (isLoading) {
  <app-loader />
  } @else {
  <div class="catList">
    @for (cat of categories; track $index) {
    <div class="cat">
      <app-cat-products [items]="cat.products" [title]="cat.name" />
    </div>
    }
  </div>
  }
</div>
