.pageCont {
  padding: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.createBtnContainer {
  margin-left: auto;
}

.catList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
}

.cardDataTitle {
  margin-bottom: 12px;
  display: grid;
  gap: 24px;
  grid-template-columns: 30px 264px 198px auto  30px;
}

.prodList {
  display: flex;
  flex-direction: column;
}

.prodCard {
  display: grid;
  gap: 24px;
  grid-template-columns: 30px 264px 198px auto  30px;
}

.gridMode .cardDataTitle {
  display: none;
}

.gridMode .catCard {
  background-color: transparent;
  border-style: none;
  box-shadow: none;
}

.gridMode .prodList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.gridMode .prodCard {
  padding: 12px;
  height: 220px;
  width: 220px;
  border-radius: 12px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
}

.gridMode .prodChkbx {
  position: absolute;
  right: 42px;
  top: 12px;
}

.gridMode .optionsBtn {
  position: absolute;
  right: 12px;
  top: 12px;
}

.gridMode .inf {
  text-align: center;
  font-size: 2.4rem;
}

h3 {
  font-size: 2.6rem;
}

.strong {
  font-weight: 600;
}

.topBar {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
