.win {
  height: fit-content;
  background-color: var(--bg2);
  padding: 0;
}

.titleContainer {
  background-color: var(--bg1);
  padding: 24px 64px;
  border-radius: 12px 12px 0 0;
}

.formContainer {
  padding: 32px 64px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

form {
gap: 12px;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}
