<div class="win">
  <div class="titleContainer">
    <h2>Sign-In to Growler</h2>
  </div>
  <form action="">

    <div>
      <div class="flex">
        <label for="price">E-Mail</label>
      </div>
      <input type="text" id="price" placeholder="mail@dom.com">
    </div>

    <div>
      <div class="flex">
        <label for="price">Password</label>
      </div>
      <input type="text" id="price" placeholder="mail@dom.com">
    </div>

    <app-button [label]="'Continue with E-Mail'" [icon]="'mail'" [accent]="true" [style]="'wfull labelCenter'" />
  </form>
  <div class="flex wfull">
    <hr class="wfull">
    <span>Or</span>
    <hr class="wfull">
  </div>
  <div class="flexCol">
    <app-button [label]="'Continue with E-Mail'" [icon]="'lock'" [style]="'wfull labelCenter border'" />
    <app-button [label]="'Continue with E-Mail'" [icon]="'lock'" [style]="'wfull labelCenter border'" />
    <app-button [label]="'Continue with E-Mail'" [icon]="'lock'" [style]="'wfull labelCenter border'" />
  </div>
</div>
