<div class="container">
  <div class="salonCont">
    @if (!activeShift) {
    <div class="flex background">
      <span>Salon settings:</span>
      <app-button [icon]="'save'" [showLabel]="false" [notifications]="layoutChanges.length" (click)="saveTables()" />
      <app-button [icon]="'refresh'" [showLabel]="false" (click)="resetTables()" />
      @if (layoutChanges.length > 0) {
      <span class="small">Unsaved changes</span>
      }
    </div>
    }
    <div class="grid background">
      @for (cell of cells; track $index) {
      <div class="cell" (dragover)="onDragOver($event)" (drop)="onDrop($event, cell)" (dragenter)="onDragEnter($event)"
        (dragleave)="onDragLeave($event)">
        @for (table of getTableAtPosition(cell); track table.id) {
        <div class="hfull" draggable="true" (dragstart)="onDragStart($event, table)" (click)="selectedTable = table">
          <app-table (click)="selectTable(table)" [activeShift]="activeShift" [tableData]="table"
            [selected]="selectedTable === table" (deleteTable)="handleDeleteTable(table)"
            (toggleShape)="handleToggleTableShape(table)" (renameTable)="handleRenameTable($event)" />
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
