<div class="gridContainer hfull wfull">
  <div class="topBar">
    <h2>Tables Positions</h2>
    <div class="flex">
      <span>Salon settings</span>
      <app-button [icon]="'add'" [label]="'Add table'" [active]="true" />
      <app-button [icon]="'save'" [showLabel]="false" [notifications]="layoutChanges.length" [active]="true"
      (click)="saveTables()" />
      <app-button [icon]="'refresh'" [showLabel]="false" [active]="true" (click)="resetTables()" />
      <br>
      -
      <br>
      <span>Table settings</span>
      <app-button [icon]="'category'" [showLabel]="false" [active]="true" (click)="toggleTableShape()" />
      <app-button [icon]="'delete'" [showLabel]="false" [active]="true" (click)="deleteTable()"/>
      <app-button [icon]="'edit'" [showLabel]="false" [active]="true" />
      <br>
      -
      <br>
      <span>Table selected: {{ selectedTable?.name }}</span>
    </div>
  </div>
  <div class="gridCont">
    <div style="height: 28px;">
      @if (layoutChanges.length > 0) {
      <span>Unsaved changes</span>
      }
    </div>
    <div class="grid background">
      @for (cell of cells; track $index) {
      <div class="cell" (dragover)="onDragOver($event)" (drop)="onDrop($event, cell)" (dragenter)="onDragEnter($event)"
        (dragleave)="onDragLeave($event)">
        @for (table of getTableAtPosition(cell); track table.id) {
        <div class="hfull" draggable="true" (dragstart)="onDragStart($event, table)" (click)="selectedTable = table">
          <app-table [tableData]="table" [selected]="selectedTable === table" />
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
