nav {
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-right: solid 1px var(--border);
}

.btnList {
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.appTitle {
  margin-bottom: 42px;
}

h1 {
  background: linear-gradient(to right, var(--primary), var(--murray));
  background-clip: text;
  color: transparent;
}

.profileData {
  margin-top: auto;
}

.win i {
  padding: 4px;
  background-color: var(--primary);
  color: white;
  border-radius: 99px;
  text-align: center;
}
