nav {
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.btnList {
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
  flex-direction: row-reverse;
}
