<nav class="background">
  <h1>Growler</h1>
  <div class="btnList">
    <app-theme-btn />
    <app-button [icon]="'settings'" [label]="'Settings'" [style]="'wfull'"/>
    <app-button [icon]="'point_of_sale'" [label]="'Payments'" [style]="'wfull'"/>
    <app-dropdown [icon]="'inventory_2'" [label]="'Inventory'">
      @for (btn of inventoryBtnList; track $index) {
        <app-button [icon]="btn.icon" [label]="btn.label" [style]="'wfull'" [routerLink]="btn.route"/>
      }
    </app-dropdown>
    <app-dropdown [icon]="'table_restaurant'" [label]="'Dinning room'">
      @for (btn of inventoryBtnList; track $index) {
        <app-button [icon]="btn.icon" [label]="btn.label" [style]="'wfull'"/>
      }
    </app-dropdown>
    <app-dropdown [icon]="'person'" [label]="'Users'">
      @for (btn of inventoryBtnList; track $index) {
        <app-button [icon]="btn.icon" [label]="btn.label" [style]="'wfull'"/>
      }
    </app-dropdown>
  </div>
</nav>
