<nav>
  <div class="flex appTitle">
    <h1 class="wfull">Growler</h1>
    <app-theme-btn />
  </div>
  <div class="btnList wfull">
    @for (b of menuItems; track $index) {
    @if (!b.children && b.routerLink) {
    <app-button [icon]="b.icon" [label]="b.label" [routerLink]="b.routerLink" [style]="'wfull'" [accent]="isRouteActive(b.routerLink)" />
    } @else {
    <app-acordeon [icon]="b.icon" [label]="b.label">
      @for (b of b.children; track $index) {
      <app-button [icon]="b.icon" [label]="b.label" [routerLink]="b.routerLink || null" [style]="'wfull'" [accent]="isRouteActive(b.routerLink)" />
      }
    </app-acordeon>
    }
    }
  </div>
  <div class="profileData">
    <span>Editing as:</span>
    <div class="win wfull">
      <div class="flex">
        <i class="material-icons-round">person</i>
        <span class="wfull">Franco</span>
        <app-button [showLabel]="false" [icon]="'logout'" />
      </div>
    </div>
  </div>
</nav>
