<nav class="background">
  <div class="flex appTitle">
    <h1 class="wfull">Growler</h1>
    <app-theme-btn />
  </div>
  <div class="btnList wfull">
    <app-button [label]="'Dashboard'" [icon]="'home'" [style]="'wfull'" [routerLink]="'dashboard'" />
    <app-acordeon [label]="'Products'" [icon]="'restaurant'" [style]="'wfull'">
      <app-button [label]="'Products list'" [icon]="'assignment'" [style]="'wfull'" [routerLink]="'products'"/>
      <app-button [label]="'Ingredients list'" [icon]="'assignment'" [style]="'wfull'" />
    </app-acordeon>
    <app-acordeon [label]="'Shifts'" [icon]="'work'" [style]="'wfull'">
      <app-button [label]="'Start shift'" [icon]="'work'" [style]="'wfull'" />
      <app-button [label]="'Shift history'" [icon]="'work_history'" [style]="'wfull'" />
    </app-acordeon>
    <app-button [label]="'Dinning area'" [icon]="'table_restaurant'" [style]="'wfull'" [routerLink]="'dinning-area'" />
  </div>
</nav>
