@import '@angular/cdk/overlay-prebuilt.css';
@import url('styles/tableLists.css');

:root .dark {
  --bg1: #1d1d1d;
  --bg2: #272727;
  --bg3: #363636;

  --font: #f8f9fa;
  --font2: #cbcfd3;
  --font3: #aaa9a9;

  --primary: #ff5023;
  --primary2: #fd6e4a4d;

  --murray: #ff4d74;

  --transparent: #1212124d;
  --border: #3d3d3d;

  --succes: #59cd90;
  --succesBg: #59cd904d;
  --warning: #f39c12;
  --warningBg: #f39c124d;
  --danger: #fa4531;
  --dangerBg: #fa45314d;
  --blue: #0074c2;
  --blueBg: #0074c24d;
  --violet: #b85cff;
  --violetBg: #b85cff4d;
}

.light {
  --bg1: #f8f9fa;
  --bg2: #e9ecef;
  --bg3: #dee2e6;

  --font: #212529;
  --font2: #343A40;
  --font3: #495057;

  --border: #c3c6c9;

  --primary: #ff5023;
  --primary2: #ff50244d;

  --murray: #ff4d74;


  --transparent: hsla(0, 0%, 100%, 0.3);

  --succes: #59cd90;
  --succesBg: #59cd904d;
  --warning: #f39c12;
  --warningBg: #f39c124d;
  --danger: #fa3131;
  --dangerBg: #fa45314d;
  --blue: #0074c2;
  --blueBg: #0074c24d;
  --violet: #662C91;
  --violetBg: #662C914d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--font);
  font-size: 62.5%;
}

body {
  background-color: var(--bg2);
  display: flex;
}

body * {
  font-size: 2rem;
}

button,
.dropDwn {
  padding: 6px 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  cursor: pointer;
  border-style: none;
  border-radius: 8px;
  background-color: transparent;
}

button span {
  text-wrap-mode: nowrap;
}

button:hover,
.dropDwn:hover {
  background-color: var(--bg2);
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
}

.light .accent * {
  color: var(--bg1);
}

.win {
  margin: 0 auto;
  padding: 12px;
  background-color: var(--bg1);
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  width: fit-content;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1),0 2px 4px #0000000d,0 12px 24px #0000000d;
}

.center {
  margin: 0 auto;
}

.flex {
  display: flex;
  gap: 12px;
  align-items: center;
}

.flexCol {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.background {
  background-color: var(--bg1);
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1),0 2px 4px #0000000d,0 12px 24px #0000000d;
}

.dark .win, .dark .background {
  box-shadow: none;
  border: solid 1px var(--border);
}

h1,
h2 {
  font-size: 3rem;
  font-weight: normal;
}

h3 {
  font-size: 2.8rem;
}

.hfull {
  height: 100%;
}

.wfull {
  width: 100%;
}

.wfit {
  width: fit-content;
}

input {
  padding: 4px;
  border-style: none;
  border-radius: 4px;
  border: 1px solid var(--border);
  background-color: var(--bg1);
}

input:focus {
  border: 1px solid var(--primary);
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

select {
  background-color: var(--bg3);
  border-style: none;
  padding: 4px;
  border-radius: 4px;
}

select:focus {
  outline: 2px var(--primary) solid;
}

.smCard {
  min-width: 320px;
  width: 100%;
  height: 198px;
  flex-direction: column;
  position: relative;
}

.mdCard {
  min-width: 652px;
  width: 100%;
  height: fit-content;
  max-height: 860px;
}

.greenFont {
  color: var(--succes);
}

.greenRed {
  color: var(--danger);
}

.bgMain {
  color: var(--primary);
  background-color: var(--primary2);
}

.bgGreen {
  color: var(--succes);
  background-color: var(--succesBg);
}

.bgViolet {
  color: var(--violet);
  background-color: var(--violetBg);
}

.shadow {
  box-shadow: 0 4px 4px hwb(0 0% 100% / 0.2);
}

.badge {
  width: fit-content;
  padding: 6px 12px;
  line-height: 1;
  font-size: 1.8rem;
  border-radius: 22px;
}

.small {
  font-size: 1.8rem;
  color: var(--danger);
}

.contCenter {
  justify-content: center;
}

.p24 {
  padding: 24px;
}

.pageContainer {
  width: 100%;
  height: 100%;
}

.orderBtn {
  padding: 4px;
  padding-left: 8px;
  background-color: var(--primary2);
  display: grid;
  grid-template-columns: 24px auto min-content;
  border-radius: 8px;
}

.orderBtn button {
  padding: 4px;
}

.orderBtn button:hover {
  background-color: transparent;
  box-shadow: none;
  transform: scale(1.05);
}

.orderBtn .flex {
  gap: 4px;
}
