@import '@angular/cdk/overlay-prebuilt.css';

:root .dark {
  --bg1: #1d1d1d;
  --bg2: #272727;
  --bg3: #363636;

  --font: #f8f9fa;
  --font2: #cbcfd3;
  --font3: #aaa9a9;

  --primary: #ff5023;
  --primary2: #ffcabc;

  --transparent: #1212124d;
  --border: #3d3d3d;

  --succes: #59cd90;
  --succesBg: #aaffd2;
  --warning: #f39c12;
  --warningBg: #ffffd2;
  --danger: #e74c3c;
  --dangerBg: #ffc5bf;
  --blue: #0074c2;
}

.light {
  --bg1: #f8f9fa;
  --bg2: #e9ecef;
  --bg3: #dee2e6;

  --font: #212529;
  --font2: #343A40;
  --font3: #495057;

  --border: #c3c6c9;

  --primary: #ff5023;
  --primary2: #ffd1c5;


  --transparent: hsla(0, 0%, 100%, 0.3);

  --succes: #59cd90;
  --succesBg: #cfffe5;
  --warning: #f39c12;
  --warningBg: #ffffda;
  --danger: #e74c3c;
  --dangerBg: #ffdfdb;
  --blue: #0074c2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--font);
  font-size: 62.5%;
}

body {
  background-color: var(--bg2);
  display: flex;
}

body * {
  font-size: 2rem;
}

button,
.dropDwn {
  padding: 6px 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
  background-color: transparent;
}

button span {
  text-wrap-mode: nowrap;
}

button:hover,
.dropDwn:hover {
  background-color: var(--bg3);
}

.light .accent * {
  color: var(--bg1);
}

.win {
  margin: 0 auto;
  padding: 12px;
  background-color: var(--bg1);
  border: solid 1px var(--border);
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  width: fit-content;
}

.flex {
  display: flex;
  gap: 12px;
  align-items: center;
}

.flexCol {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.background {
  background-color: var(--bg1);
  border-radius: 12px;
  padding: 12px;
  border: solid 1px var(--border);
}

h1,
h2 {
  font-size: 3rem;
  font-weight: normal;
}

h3 {
  font-size: 2.8rem;
}

.hfull {
  height: 100%;
}

.wfull {
  width: 100%;
}

input {
  padding: 4px;
  border-style: none;
  border-radius: 4px;
  background-color: var(--bg3);
}

input:focus {
  outline: 2px solid var(--primary);
  background-color: var(--bg1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.smCard {
  width: 320px;
  height: 198px;
  flex-direction: column;
  position: relative;
}

.mdCard {
  width: 652px;
  height: 1000px;
}

.greenFont {
  color: var(--succes);
}

.greenRed {
  color: var(--danger);
}

.bgMain {
  color: var(--primary);
  background-color: var(--primary2);
}

.bgGreen {
  color: var(--succes);
  background-color: var(--succesBg);
}

.badge {
  width: fit-content;
  padding: 6px 12px;
  line-height: 1;
  font-size: 1.8rem;
  border-radius: 22px;
}
